*.exe
*.dSYM
.DS_Store
.DS_Store?
/Dependencies
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/CMakeFiles
libCelsius.a
Makefile
debug.out
compile_commands.json
CMakeCache.txt
cmake_install.cmake
/.cmake
/.cache
SDLRaycaster